figure.quadratic {
    float: left;
    display: block;
    margin-right: 1em;
}

.weight_slider {
    width: 125px;
}

#disabler {
    position: absolute;
    height: 68%;
    width: 100%;
    z-index: 10;
    background-color: black;
    opacity: 0.3;
    visibility: hidden;
}

#curves_top {
    position: absolute;
    top: 6%;
    left: 20%;
    width: 88%;
}

#curves_graph {
    position: absolute;
    top: 16%;
    width: 95%;
    height: 55%;
}

#weights_div {
    position: relative;
    top: 70%;
    left: 2%;
    width: 90%;
}

#line_graph {
    position: center;
    width: 80%;
    height: 100%;
}

#weight_table {
    background-color: #ffffff;
}

#weight_table_div {
    float: left;
    width: 42%;
    max-height: 140px;
    overflow: auto;
}

#profile_info_div {
    position:relative;
    top: 70%;
    left: 10%;
    float: left;
    width: 42%;
}
    #profile_info_div > div {
        padding: 8px;
    }

#profile_info {
    border: 1px solid black;
    height: 20px;
}
