figure.quadratic {
    float: left;
    display: block;
    margin-right: 1em;
}

.weight_slider {
    width: 125px;
}

#curves_top {
    position: absolute;
    top: 6%;
    left: 20%;
    width: 88%;
}

#curves_graph {
    position: absolute;
    top: 16%;
    width: 95%;
    height: 55%;
}

#curves_weights {
    position: relative;
    top: 70%;
    left: 2%;
    width: 90%;
}

#line_graph {
    position: center;
    width: 80%;
    height: 100%;
}
