dt, dd {
    float: left;
}

.entries_section {
    height: 85%;
    display: block;
    overflow: auto;
}

.entry {
}

.sub_entry {
    height: 70px;
    padding: 6px 12px;
    border: 1px solid #ccc;
}
    .sub_entry:hover {
        background-color: aqua;
    }

.info_holder {
    float: left;
    width: 80%;
}

.aqi_holder {
    text-align: center;
    float: right;
    right: 10px;
    width: 20%;
}

.dl_separator {
    border: none;
}

.aqi {
    top: 1px;
    font-size: 30px;
    font: bold;
    color: forestgreen;
    line-height: 20px;
}

#empty_history {
    visibility: visible;
    text-align: center;
}