

.popup {
    
}

    .popup .popuptext {
        visibility: hidden;
        opacity: 0.9;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: relative;
        z-index: 1;
        bottom: 50px;
        left: 145px;
        margin-left: -80px;
    }

    .popup .show {
        visibility: visible;
    }

    /*.popup .hide {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.5s, opacity 0.5s linear;
    }*/