body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#actionButton {
    position: absolute;
    top: 0;
    left: 48.5%;
}

.tab {
    position: absolute;
    right: 3%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabContent {
    position: absolute;
    top: 5%;
    left: 47.5%;
    width: 53%;
    height: 100%;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.disabled-control-button {
    opacity: .5;
}

#features_section{
    position: absolute;
    height: 100%;
    width: 35%;
}

#graphs_section{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 37%;
}

#features {
    width: 100%;
    height: 49%;
    overflow: auto;
    background: rgba(230, 230, 230, 0.8);
}

#objects {
    width: 100%;
    height: 45%;
    overflow:auto;
    background: rgb(230, 230, 230);
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 47%;
    height: 99%;
    pointer-events: auto;
}

#buttonContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 66%;
    width: 14%;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#dumb_button {
    position: absolute;
    bottom: 3%;
    right: 5%;
}

/*Everythin related to Autocomplete*/

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    /*display: inline-block;*/
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    left: 41%;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
