body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#actionButton {
    position: absolute;
    top: 0;
    left: 48.5%;
}

.tab {
    position: absolute;
    right: 3%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabContent {
    position: absolute;
    top: 5%;
    left: 47.5%;
    width: 53%;
    height: 100%;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.disabled-control-button {
    opacity: .5;
}


#left_side_section{
    position: absolute;
    height: 100%;
    width: 35%;
}

#top_right_section{
    position: absolute;
    height: 50%;
    width: 50%;
    left: 37%;
    top: 0;
}

#bottom_right_section {
    position: absolute;
    height: 50%;
    width: 61.5%;
    left: 37%;
    bottom: 0%;
}

#features {
    width: 100%;
    height: 49%;
    overflow: auto;
    background: rgba(230, 230, 230, 0.8);
}

#objDiv {
    width: 100%;
    height: 45%;
    overflow: auto;
    background: rgb(230, 230, 230);
}

#roadsDiv {
    width: 100%;
    height: 50%;
    overflow: auto;
    background: rgb(230, 230, 230);
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 47%;
    height: 99%;
    pointer-events: auto;
}

#buttonContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 66%;
    width: 14%;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#saveAll_btn {
    position: absolute;
    bottom: 3%;
    right: 5%;
}


#loadAll_btn {
    position: absolute;
    bottom: 3%;
    right: 10%;
}

#dumb_btn {
    position: absolute;
    bottom: 3%;
    right: 15%;
}

